header,
footer,
#h1 {
    background-color: #1F2937;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
}
header {
    display:flex;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 20px;
}
#logo {
    height: 100px;
    width: auto;
    margin-right:auto;
}
.links {
    display: flex;
    margin-left: auto;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
#pug {
    height:300px;
    width:auto;
}
.container {
    display: flex;
    flex-direction: column;
}
#h1 {
    display:flex;
    gap: 16px;
    justify-content: center;
    padding:100px;
}
.subtext {
    color: #E5E7EB;
}
h1 {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}
button {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 6px;
    width: fit-content;
    width: 80px;
    height: 24px;
}