header,
footer,
#h1 {
    background-color: #1F2937;
}
body {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left:200px;
    margin-right: 200px;
}
header {
    display:flex;

}
#logo {
    height: 100px;
    width: auto;
    margin-right:auto;
}
.links {
    display: flex;
    margin-left: auto;
    gap: 16px;
}
a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}
#pug {
    height:300px;
    width:auto;
}